{% extends "layout.html" %}
{% block content %}

<script>
  function confirmDelete() {
    var result = confirm("Are you sure you want to delete your account? \nThis process cannot be undone!");
    return result;
  }

  function promptForPassword() {
    var password = prompt("Please enter your password to confirm deletion:");
    if (password !== null) {
      document.getElementById("passwordForDelete").value = password;
      document.getElementById("deleteAccountBtn").click();
    }
  }

  function enableButton(buttonId, inputId) {
    var button = document.getElementById(buttonId);
    var input = document.getElementById(inputId);

    if (input && button) {
      button.disabled = !input.value.trim();
      button.style.backgroundColor = button.disabled ? '#dddddd' : '#dc3545';
      button.style.borderColor = button.disabled ? '#dddddd' : '#dc3545';
    }
  }
</script>

<br><br>
<br>
<div class="container light-style flex-grow-1 container-p-y text-center">

  <h4 class="font-weight-bold py-3 mb-4">
    Account settings
  </h4>
  <main role="main" class="container">
    <div class="row">
        {%with messages = get_flashed_messages(with_categories=true)%}
        {%if messages %}
        {%for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}
        
    </div>
</main>
  <div class="card overflow-hidden mx-auto" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border: none;">
    <div class="row no-gutters row-bordered row-border-light">

      <div class="col-md-9 mx-auto">
        <div class="tab-content">
          <div class="tab-pane fade active show" id="account-general">
            <hr class="border-light m-0">
            <div class="card-body text-center">
              <!-- Edit Name Form -->
              <div class="form-group text-left">
                <label class="form-label">Current Username: {{ user.username }}</label>
                <form class="text-center" method="POST">
                  {{ form1.hidden_tag() }}
                  <div class="d-flex align-items-center justify-content-between">
                    {{ form1.username(id="username",class="form-control form-control-lg", placeholder="Enter your new username", oninput="enableButton('editNameBtn', 'username')") }}
                    {{ form1.submit(id="editNameBtn", class="btn btn-danger", disabled=True) }}
                  </div>
                  
                </form>
              </div>

              <!-- Edit Email Form -->
              <div class="form-group text-left" style="margin-top: 25px;">
                <label class="form-label">Current Email: {{ user.email }}</label>
                <form id="usernameForm" class="text-center" method="POST">
                  {{ form2.hidden_tag() }}
                  <div class="d-flex align-items-center justify-content-between">
                    {{ form2.email(class="form-control form-control-lg", placeholder="Enter your new email", oninput="enableButton('editEmailBtn', 'email')") }}
                    {{ form2.submit(id="editEmailBtn", class="btn btn-danger", disabled=True) }}
                  </div>
                  
                </form>
              </div>

              <!-- Change Password Form -->
              <div class="form-group text-left" style="margin-top: 25px;">
                <label class="form-label">Change Password</label>
                <form class="text-center" method="POST">
                  {{ form3.hidden_tag() }}
                  <div class="form-group text-center">
                    {{ form3.oldpassword(class="form-control form-control-lg", placeholder="Enter your password", oninput="enableButton('editPasswordBtn', 'oldpassword')") }}
                  </div>
                  <div class="form-group text-center">
                    {{ form3.newpassword(class="form-control form-control-lg", placeholder="Enter your new password", oninput="enableButton('editPasswordBtn', 'newpassword')") }}
                  </div>
                  
                  <div class="d-flex align-items-center justify-content-between">
                    
                  {{ form3.confirm_newpassword(class="form-control form-control-lg", placeholder="Confirm the new password", oninput="enableButton('editPasswordBtn', 'confirm_newpassword')") }}
                  {{ form3.submit(id="editPasswordBtn", class="btn btn-danger", disabled=True) }}
                  </div>
                  
                </form>
              </div>

              <!-- Delete Account Form -->
              <div class="form-group text-center">
                
                <div class="form-group text-center">
                  <button type="button" class="btn btn-danger" style="margin-top: 25px;" onclick="promptForPassword()">Delete Account</button>
                </div>
                <form class="text-center" method="POST" style="display: none;">
                  {{ form.hidden_tag() }}
                  <input type="hidden" id="passwordForDelete" name="password" value="">
                  <div class="form-group text-center">
                    <button type="submit" id="deleteAccountBtn" class="btn btn-danger" style="margin-top: 10px; display: none;"></button>
                  </div>
                </form>
              </div>

              <!-- Save Changes Button 
              <div class="form-group text-center">
                <button type="button" id="saveChangesBtn" class="btn btn-success" style="margin-top: 10px;" onclick="saveChanges()">Save Changes</button>
              </div>-->

            </div>
          </div>
        </div>
      </div>
    </div>
    
    <style>
      .form-group-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    
      .form-group {
        flex-basis: 48%;
        margin-bottom: 10px;
      }
    
      .form-control-lg {
        padding: 12px;
        font-size: 16px;
      }
    
      .btn-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
        padding: 10px 20px;
        font-size: 16px;
      }

      .btn-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
        padding: 10px 20px;
        font-size: 16px;
      }
    
      .btn-danger:hover {
        background-color: #bd2130;
        border-color: #bd2130;
      }

      .btn-success:hover {
        background-color: #218838;
        border-color: #218838;
      }
    </style>

    <!-- <script>
      function saveChanges() {
        
        var button1 = document.getElementById('editNameBtn');
        var button2 = document.getElementById('editEmailBtn');
        var button3 = document.getElementById('editPasswordBtn');
        var input1 = document.getElementById('username');
        var input2 = document.getElementById('email');
        var form = document.getElementById('usernameForm');
          // All forms are valid, proceed with submission
          if (input1){
          // Submit the Edit Name Form
          //document.getElementById("editNameBtn").click();
          form.submit();
          }
          /*if (input2){
            // Submit the Edit Name Form
            document.getElementById("editEmailBtn").click();
            }
            /*if (!button3.disabled){
              // Submit the Edit Name Form
              document.getElementById("editPasswordBtn").click();
              }*/
        
      }
    
    </script> -->
    
    
{% block flash %}{% endblock flash %}
  {% endblock content %}
